.navbar {
  overflow: hidden;
  background-color: #333;
}

.menu:hover .boutonDeroulant{
  background-color: rgba(88, 88, 255, 0.747);
  color : white;
}

.menu {
  float : left;
  overflow: hidden;
}

.menu .boutonDeroulant {
  color : rgb(165, 241, 23);
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  padding: 16px 16px;
  font-size: 16px;
  margin-top: 0px;
}

.boutonDeroulant {
  background-color: rgb(165, 241, 23);
  margin-top: 50px;
  padding: 16px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.boutonDeroulant:hover {
  background-color: rgba(88, 88, 255, 0.747);
  color: white;
}

.menuContenu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 16px;
}
.menuContenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.menuContenu button {
	outline : none;
	border : none;
}
.menuContenu a:hover {background-color: #ddd}
.menuContenu button:hover {background-color: #ddd}

.show {display:block;}
