.topnav-right {
  float: right;
  display: flex;
  padding: 14px 16px;
  color: rgb(165, 241, 23);
}
.gitForkImg {
  vertical-align: middle;
  text-align: center;
  max-width: 25px;
  max-height: 25px;
  padding: 0px 4px;
}
.forkText {
  text-align: center;
  color : inherit;
  padding-top: 2px;
}

.forkText:hover {
  color: #FFFFFF;
}
.topnav-right:hover {
  background-color: rgba(127,127,127,0.5);
  color: #FFFFFF;
}
