.navbar {
  overflow: hidden;
  background-color: #333;
}

.menu:hover .menuBouton{
  background-color: rgba(88, 88, 255, 0.747);
  color : white;
}

.menu {
  float : left;
  overflow: hidden;
}

.menu .menuBouton {
  color : rgb(165, 241, 23);
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  padding: 14px 16px;
  font-size: 16px;
}

.menu .menuBoutonExterieur {
  color : #333;
  border : none;
  outline: none;
  background-color: rgb(165, 241, 23);
  font-family: inherit;
  padding: 14px 16px;
  font-size: 16px;
}

.menuContenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menuContenu button {
	outline : none;
	border : none;
}

.menuContenu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menuContenu a:hover {
  background-color: #f1f1f1
}

.menuContenu button:hover {
	background-color: #f1f1f1;
}

.menu:hover .menuContenu {
  display: block;
}

.menu img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height : 100px;
}

.menuContenu img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height : 200px;
  margin-top: 1%;
}

.desc {
  padding: 15px;
  text-align: center;
}

canvas {
	text-align : center;
	background-color : #000;
	cursor: crosshair;
	display: none;
}
